<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Ajoutez un utilisateur</title>
    <link href="/bootstrap" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="container">
        <nav>
            <a href="/">Formulaire d'ajout</a>
            <a href="/students">Students</a>
        </nav>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-8">
                <ul>
                <% if (students) { %>
                    <% students.map(student => { %>
                    <li><%= student.name %> age : <%= student.age %></li>
                    <% }) %>
                 <% } else { %>
                    <li>Aucun étudiant en base de données</li>
                <% } %>
                </ul>
            </div>
        </div>
        <div class="col-4">

        </div>
    </div>
    </div>
</body>

</html>