<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul>
        <%# students est une variable dynamique que l'on a passé depuis le serveur  %>
        <% students.map(student => { %>
        <%# la syntaxe suivante permet d'afficher une variable %>
        <li><%= student.name %></li>
        <% }) %>
    </ul>
</body>
</html>